* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #14120B;
    color: #EDECEC;
    font-family: Arial, Helvetica, sans-serif;
}

/* header */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    padding-top: 5px;
    margin: auto 110px;
    background-color: #14120B;

}

header svg {
    width: 100px;
    height: 25px;
}

header nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 30px;
}

.nav-items {
    text-decoration: none;
    color: #EDECEC;
}

.header-cta a {
    border: 1px solid #37352F;
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 100px;
    text-decoration: none;
}

.sign-in {
    color: #EDECEC;
}

.download {
    background-color: #EDECEC;
    color: black;
}

/* Main Section */
.container {
    margin: auto 110px;
    margin-top: 160px;
}

/* hero-section */
.hero-heading {
    max-width: 40%;
    font-size: 26px;
    font-weight: 200;
    margin-bottom: 40px;
}

.hero-cta {
    border: 1px solid #EDECEC;
    padding: 12px 18px;
    color: black;
    background-color: #EDECEC;
    border-radius: 150px;
    text-decoration: none;
}

.hero-section img {
    margin-top: 75px;
    max-width: 100%;
}

/* Trusted By Section */

.trusted-by {
    margin-top: 70px;
    margin-bottom: 100px;
}

.trusted-by-heading {
    text-align: center;
    margin-bottom: 24px;
    font-size: 14px;
    font-weight: 500;

}

.company-logo {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.company-logo svg {
    background-color: #1B1913;
    padding: 29px;
    border: 1px solid #1F1D17;
    border-radius: 5px;
    width: 150px;
    height: 100px;
}

/* feature */

.feature {
    display: flex;
    flex-direction: column;
    gap: 90px;
}

.feature-wrapper1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #1B1913;
    padding: 18px;
    border: 1px solid #1F1D17;
    border-radius: 5px;
}

.feature-wrapper2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: #1B1913;
    gap: 35px;
    padding: 18px;
    border: 1px solid #1F1D17;
    border-radius: 5px;
}

.feature-wrapper3 {
    display: flex;
    flex-direction: row;
    gap: 29px;
    align-items: center;
    background-color: #1B1913;
    padding: 18px;
    border: 1px solid #1F1D17;
    border-radius: 5px;
}

.feature-content h3 {
    font-size: 22px;
    font-weight: 500;
}

.feature-content p {
    font-size: 22px;
    color: #999896;
    padding-top: 5px;
    padding-bottom: 15px;
}

.feature-content a {
    color: #F54D00;
    text-decoration: none;
    font-size: 16px;
}

.feature-content {}

.feature-image {
    max-width: 67%;
}

/* Testimonial */

.testimonial-section {
    margin-top: 150px;
}

.testimonial-heading {
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 50px;
}

.testimonial-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.testimonial-content {
    background-color: #1B1913;
    border: 1px solid #1F1D17;
    padding: 20px;
    border-radius: 5px;
    display: grid;
    gap: 70px;
}

.testimonial-content div p {
    font-size: 16px;
     line-height: 1.4;

}

.testimonial-content p {
         line-height: 1.4;
             font-size: 16px;


}

.description {
    padding-top: 30px;
}

.description2 {
    padding-bottom: 30px;

}

.user-details div {
    font-size: 14px;
}

.user-role {
    color: #999881;
}

.user-info img {
    max-width: 40px;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: auto;
}

/* use-case */
.use-case {
    margin-top: 150px;
}

.use-case h2 {
    margin-bottom: 30px;
    font-size: 26px;
    font-weight: 500;
}

.use-case-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.use-case-content {
    background-color: #1B1913;
    padding: 30px;
    border: 1px solid #1F1D17;
    border-radius: 5px;
}

.use-case-content p {
    margin-top: 5px;
    margin-bottom: 20px;
    color: #999896;
    font-size: 16px;
}

.use-case-img {
    max-width: 100%;
    object-fit: cover;
    height: auto;
}

.use-case-heading {
    font-size: 16px;
    font-weight: 500;
}

.more-details {
    display: block;
    color: #F54D00;
    text-decoration: none;
    margin-bottom: 30px;
}

/* Changelog */

.changelog-section {
    margin-top: 100px;
}

.changelog-cards {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.changelog-section h2 {
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: 500;
}

.changelog-article {
    border: 1px solid #1F1D17;
    border-radius: 5px;
    background-color: #1B1913;
    padding: 20px;
    width: 350px;
    height: 130px;
}

.changelog-article a {
    text-decoration: none;
}

.changelog-content {
    color: #EDECEC;
    line-height: 1.4;
}

.changelog-date-rate span {
    color: #999889;
}

.changelog-date-rate {
    margin-bottom: 20px;
}

.rating {
    border: 1px solid #999881;
    padding: 3px 8px;
    border-radius: 50px;
    font-size: 14px;
    margin-right: 8px;
}

.changelog-more-details {
    text-decoration: none;
    color: #F54D00;
}

/* Team section */

.team-section {
    margin-top: 100px;
}

.team-content h2 {
    max-width: 48%;
    font-size: 36px;
    font-weight: lighter;
    margin-bottom: 30px;
}

.team-join {
    text-decoration: none;
    border: 1px solid #EDECEC;
    background-color: #EDECEC;
    border-radius: 50px;
    padding: 12px 18px;
    margin-bottom: 30px;
    color: #14120B;
}

.team-image {
    margin-top: 70px;
    max-width: 100%;
    border-radius: 5px;
}

/* Final section */

.final-section {
    margin-top: 10%;
    text-align: center;
}

.final-section h1 {
    margin-bottom: 40px;
    font-size: 72px;
    font-weight: lighter;
}

.final-link {
    text-decoration: none;
    border: 1px solid #EDECEC;
    background-color: #EDECEC;
    border-radius: 50px;
    padding: 13px 22px;
    color: #14120B;

}

/* Footer */

.footer-section{
    background-color: #1B1913;
    margin-top: 150px;
    padding: 70px 130px 50px;
}

.footer-nav {
    display: flex;
    flex-direction: row;
    gap: 180px;
   margin-bottom: 90px;
}

.footer-items h3 {
    color: #999889;
    margin-bottom: 10px;
    font-size: 14px;
}

.footer-item-list 
{
    list-style-type: none;
}

.footer-item-list li {
    color: #EDECEC;
    padding: 5px 0px;

}

.footer-item-list li a {
    text-decoration: none;
    color: #EDECEC;
    font-size: 14px;
}

.copyright-section {
    display: flex;
    justify-content: space-between;
     color: #999889;
}

.copyright span{
    font-size: 14px;
     margin-right: 10px;
}

.icon-lang span{
        font-size: 14px;
        margin-right: 10px;

}

.language {
    background-color: #26241E;
    padding: 6px 8px;
    border-radius: 50px;
}

.language span {
    color: rgb(22, 19, 19);
}